
.Form{
    border: 2px solid black;
    background-color: white;
    width:fit-content;
    margin: 80px auto ;
    padding: 50px;
    box-shadow:0px 0px  20px blue;
    border: none;
    border-radius: 10px;
  }
  
   /* div{
    margin-bottom: 20px;
  } */
  
  .input{
    height: 25px;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    padding-left: 20px;
  }
  .btn{
    padding: 10px 20px;
    background-color: blue;
    border: none;
    color: aliceblue;
    border-radius: 10px;
    margin-left: 90px;
  }
  .gen1,.gen2{
    margin: 10px;
  }
  .input:focus{
    outline: none;
    border: 2px solid blue;
  }
  .dgr{
    color: red;
  }
  .regi{
    width: 50%;
    margin:  30px auto;
    /* border: 2px solid black; */
    box-shadow: 10px 10px 10px 10px gray;
    padding: 30px;
  }